<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mon Blog {% block title %}{% endblock %}</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="images/MOUDOU.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
        
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/stylesBootstrap.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
                    <script type="text/javascript" src="js/tarteaucitron/tarteaucitron.js"></script>
            <script type="text/javascript">
    tarteaucitron.init({
        "privacyUrl": "privacyUrl.html", /* Privacy policy url */

    "hashtag": "#moudou", /* Open the panel with this hashtag */
    "cookieName": "setcookie", /* Cookie name */

    "orientation": "middle", /* Banner position (top - bottom) */

    "groupServices": true, /* Group services by category */

    "showAlertSmall": false, /* Show the small banner on bottom right */
    "cookieslist": false, /* Show the cookie list */

    "closePopup": false, /* Show a close X on the banner */

    "showIcon": true, /* Show cookie icon to manage cookies */
    //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
    "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    "adblocker": false, /* Show a Warning if an adblocker is detected */

    "DenyAllCta" : true, /* Show the deny all button */
    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    "removeCredit": false, /* Remove credit link */
    "moreInfoLink": true, /* Show more info link */

    "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
    "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

    "readmoreLink": "indexRgpd.html", /* Change the default readmore link */

    "mandatory": true, /* Show a message about mandatory cookies */
        });
</script>
    </head>
        <body class ="log">
        <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="index.php"><img src ="images/MOUDOU.png" height="70" alt="logo"/> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php">Home</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php?action=article">Blog</a></li>
                         {% if session.user %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php?action=profil">Bonjour,{{ session.user.pseudo }} ton rôle est {{ session.user.status }} </a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php?action=logout">Déconexion</a></li>
                        {% else %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php?action=login">Se connecter</a></li>
                     <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php?action=sign">S'inscrire</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php#contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </nav>
