{% include "/frontoffice/head.html.twig" %} 

<div class="login">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Se connecter</h2>       
        <div class="form-group">
            <input type="text" class="form-control formeControl" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control formeControl" placeholder="Password" required="required">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="button btn-primary btn-block">Se connecter</button>
        </div>
        <div class="clearfix">
            <p class="text-center">Pas encore de compte ?
            <a href="index.php?action=sign">Créer un compte</a></p>
        </div>        
    </form>
    
</div>
        {# <label for="email">Email:</label>
        <input type="email" id="email" name="email" >
        <label for="password">Password:</label>
        <input type="password" id="password" name="passwd" >
        <input type="submit" value="Submit">         #}

{% include "/frontoffice/footer.html.twig" %} 
