 {% extends "/backoffice/base.html.twig" %} 
 {% block title %}Incsription{% endblock %}
 {% block content %}
<div class="login">
   {% for message in flashes %} {# TODO Gérer les différents type de message flash #}
        <h5 class="danger text-center"> {{ message }} </h5>
    {% endfor %}
    <form method="POST">
        <h2 class="text-center">Se connecter</h2>       
        <div class="form-group">
            <input type="email" class="form-control formeControl" name="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control formeControl" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="button btn-primary btn-block">Se connecter</button>
        </div>
        <div class="clearfix">
            <p class="text-center">Pas encore de compte ?
            <a href="index.php?action=sign">Créer un compte</a></p>
        </div>        
    </form>   
</div>
{% endblock %}
