{% include "/frontoffice/head.html.twig" %} 
<div class="login">
    <form  method="post">
        <h2 class="text-center">S'inscrire</h2>       
        <div class="form-group">
            <input type="text" name="pseudo" class="form-control formeControl" placeholder="Pseudo" required="required">
        </div>
        <div class="form-group">
            <input type="email" name="email"class="form-control formeControl" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="password"class="form-control formeControl" placeholder="Password" required="required">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="button btn-primary btn-block">Valider</button>
        </div>
        <div class="clearfix">
            <p class="text-center">Vous avez un compte ? 
            <a href="index.php?action=login">Connectez vous</a></p>
        </div>        
    </form>
    
</div>
{% include "/frontoffice/footer.html.twig" %} 