
            <form class="register_form"> <input type="text" placeholder="username" /> <input type="password" placeholder="password" /> <input type="email" placeholder="email" />
                <div style='margin-bottom: 9px;'> <textarea id='bio_id' placeholder="Tell us about yourself" rows=13 cols=35 maxlength="500"></textarea> </div> <button>Create</button>
                <p class="message">Already Registered? <a href="#">Login</a></p>
            </form>