 {% extends "/frontoffice/layout.html.twig" %} 
 {% block title %}Inscription{% endblock %}
 {% block content %} 
<div class="login">
  {% for message in flashes %}
                        <div class="alert alert-red alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong class="danger">{{ message }} </strong> 
                    </div> {% endfor %}
    <form  method="POST">
        <h2 class="text-center">S'inscrire</h2>       
        <div class="form-group">      
            <label for="email">Pseudo</label>
            <input type="text" name="pseudo" class="form-control formeControl" placeholder="Pseudo" value="{{ _post.pseudo }}" required="required">
        </div>
        <div class="form-group">
        <label for="email">Email</label>
            <input type="email" name="email"class="form-control formeControl" placeholder="Email" value="{{ _post.email }}" required="required">
        </div>
        <div class="form-group">
        <label for="email">Mot de passe</label>
            <input type="password" name="password" class="form-control formeControl" placeholder="Mot de  passe" required="required">
        </div>
                <div class="form-group">
                <label for="email">Confimer votre mot de passe</label>
            <input type="password" name="password_confimed" class="form-control formeControl" placeholder="Confirmation de mot de passe" required="required">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="button btn-primary btn-block">Valider</button>
        </div>
        <div class="clearfix">
            <p class="text-center">Vous avez un compte ? 
            <a href="index.php?action=login">Connectez vous</a></p>
        </div>        
    </form>
    
</div>
{% endblock %}