{% include "/frontoffice/head.html.twig" %} 

    <header class="masthead" style="background-image: url('assets/img/OOps.png'); height:730px; width:100%;">
        <div class="container position-relative px-4 px-lg-20">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                     
                     <h3>Vous n'êtes pas au bon endroit</h3>
                      <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" href="index.php"><i class="far fa-hand-point-left" style ="font-size:30px;"></i> Revenir à la maison  </a></li></ul>
   
                       
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</header>
