.danger {
    color: red;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/67.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center
}

