{% include "/backoffice/head.html.twig" %} 
        <body>
    <header class ="header-admin">
        <h1 class="text-center"> Bienvenue dans l'administration du blog </h1>
    </header>
     <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    {% for message in flashes %}
                        <div class="alert alert-dark alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>{{ message }} </strong> 
                        </div>{% endfor %}
                </div>
            </div>     
        </div>
<div class="container mt-3">
            <ul class="nav nav-pills nav-justified">
             {% if session.user.status == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link " href="index.php?action=displayAllUser">Lite des membres</a>
                </li>
                  {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=admin">Liste des articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=listComment">Liste des commentaires</a>
                </li>
                {% if session.user.status == 'superadmin' %}
                <li class="nav-item">
                    <a class="nav-link " href="index.php?action=superAdminPage">Liste de tous les utilisateurs</a>
                </li>
                {% endif %}
            </ul>
</div>
{% block content %}{% endblock %}
{% include "/frontoffice/footer.html.twig" %} 