 {% extends "/backoffice/base.html.twig" %} 
 {% block title %}Inscription{% endblock %}
 {% block content %}
<div class="m-4">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Clark</td>
                <td>Kent</td>
                <td>clarkkent@mail.com</td>
              <td><button type="button" class="btn btn-primary">Primary</button></td>     
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}