 {% extends "/backoffice/base.html.twig" %} 
 {% block title %}UserList{% endblock %}
 {% block content %}
<div class="m-4">
    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Date inscription</th>
                <th>Supprimer</th>
            </tr>
        </thead>
         {% for listUser in users %}
         {% if listUser.status == "member" %}
        <tbody>
            <tr>
                <td>{{ listUser.pseudo }}</td>
                <td>{{ listUser.email }}</td>
                <td>{{ listUser.dateInsert | date("d/m/Y") }}</td>
                <form action="index.php?action=deleteMember" method ="POST">
                <input type="hidden" value="{{ listUser.id}}"  name="idUser"/>
              <td><button class="btn btn-secondary" style="height:50px;" type="submit" class="btn btn-primary">Supprimer</button></td> 
              </form>    
            </tr>
        </tbody>
        {% endif %}
         {% endfor %}
    </table>
</div>
{% endblock %}